@media (max-width: 767px) {
    .container,
    .container-fluid,
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
    .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
    .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
    .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
    .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@font-face {
    font-family: "sofia";
    src:    url('../assets/fonts/sofia-pro.woff2') format("woff2"),
            url('../assets/fonts/sofia-pro.woff') format("woff"),
            url('../assets/fonts/sofia-pro.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "sofia-bold";
    src: url('../assets/fonts/sofia-pro-bold.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html,
body { 
    font-size: $font_size;
    color: $black_color;
    margin: 0 auto;
    font-family: sofia, sans-serif, Arial, Helvetica;
    line-height: $font_size + 8;
    letter-spacing: normal;
}

img {
    max-width: 100%;
}

.bold {
    font-family: sofia-bold, sans-serif, Arial, Helvetica;
    font-weight: 700;
}

input,
button,
.btn,
a {
    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.black-color {
    color: $black_color;

    a {
        color: $black_color;  
    }
}

.btn {
    display: inline-block;
    font-family: sofia-bold, sans-serif, Arial, Helvetica;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    text-transform: capitalize;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    padding: 12px 25px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

.btn--primary {
    @include primaryBtn;

    &:hover,
    &:focus,
    &:active,
    &.active {
        @include secondaryBtn;
    }
}

.btn--other {
    @include otherBtn;

    &:hover,
    &:focus,
    &:active,
    &.active {
        @include secondaryBtn;
    }
}

.section__title {
    margin-bottom: 1.5rem;

    .title {
        font-family: sofia-bold, sans-serif, Arial, Helvetica;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 0;
    }
}