.bi {
    color: $pink_color;
}

.spr-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;

    .bi {
        margin-right: 5px;
    }

    .spr-badge-caption {
        font-size: .8rem;
        font-weight: 600;

        a {
            text-decoration: underline;

            &:hover {
                color: $light_color;
            }
        }
    }
}

.product-item {
    margin-bottom: 2rem;
}

.product__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .7rem;

    .product__title-link {
        &:hover {
            color: $black_color;
        }
    }
}

.product__price {
    font-family: sofia-bold, sans-serif, Arial, Helvetica;
    font-size: 1.2rem;
}

.product__price-new {
    color: $pink_color;
}

.product__price-old {
    padding-right: 1rem;

    &+.product__price-new {
        padding-left: 1rem;
    }
}

.product__form {
    padding-left: 20px;
    padding-right: 20px;

    .btn {
        width: 100%;
        max-width: 320px;
    }
}

.carousel-control {
    position: absolute;
    top: 25%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-50%);

    .carousel-control-icon {
        width: 16px;
        height: 26px;
        background: url('../assets/images/slider-arrow.png') no-repeat;
    }

    .carousel-control-next-icon {
        background-position: right center;
    
    }
}

.carousel-inner {
    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 100%;
        z-index: 1;
    }

    &:before {
        left: 0;
    }
    
    &:after {
        right: 0;
    }
}

@media (max-width: 767px) {
    .carousel-control-prev {
        left: -53px;
    }
    
    .carousel-control-next {
        right: -53px;
    }

    .carousel {
        overflow: hidden;
    }

    .carousel-control {
        .carousel-control-next-icon {
            margin-right: 35px;
        }

        .carousel-control-prev-icon {
            margin-right: -35px;
        }     
    }
}

@media (min-width: 768px) {
    .carousel {
        margin-left: calc((750px - 100vw)/2);
        margin-right: calc((750px - 100vw)/2);
    }

    .carousel-inner {
        &:before,
        &:after {
            width: calc((100vw - 750px)/2);
        }
    }

    .carousel-control-prev {
        left: calc((100vw - 750px)/2 - 20px);
    }
    
    .carousel-control-next {
        right: calc((100vw - 750px)/2 - 20px);
    }
}

@media (min-width: 992px) {
    .carousel {
        margin-left: calc((970px - 100vw)/2);
        margin-right: calc((970px - 100vw)/2);
    }

    .carousel-inner {
        &:before,
        &:after {
            width: calc((100vw - 970px)/2);
        }
    }

    .carousel-control-prev {
        left: calc((100vw - 970px)/2 - 20px);
    }
    
    .carousel-control-next {
        right: calc((100vw - 970px)/2 - 20px);
    }
}

@media (min-width: 1200px) {
    .carousel {
        margin-left: calc((1200px - 100vw)/2);
        margin-right: calc((1200px - 100vw)/2);
    }

    .carousel-inner {
        &:before,
        &:after {
            width: calc((100vw - 1200px)/2);
        }
    }

    .carousel-control-prev {
        left: calc((100vw - 1200px)/2 - 52px);
    }
    
    .carousel-control-next {
        right: calc((100vw - 1200px)/2 - 52px);
    }
}