$font_size: 20px;

$text_font: 'sofia-pro';

$black_color: #000;
$pink_color: #f4436c;
$light_color:#6a6c77;
$white_color: #fff;

$primary_bg_btn: $pink_color;
$primary_color_btn: $white_color;
$primary_border_btn: $pink_color;

$secondary_bg_btn: #f11346;
$secondary_color_btn: $white_color;
$secondary_border_btn: #ea0e41;

$other_bg_btn: $white_color;
$other_color_btn: $pink_color;
$other_border_btn: $pink_color;